In [1]:
sc.version

'2.3.2'

This notebook is to analyze parquet file using spark sql.

In [2]:
from pyspark.sql import SparkSession

In [3]:
hconf = sc._jsc.hadoopConfiguration()  
hconf.set("fs.s3a.access.key", "AKIAYHI6A5QQ3AQYGP4Z")
hconf.set("fs.s3a.secret.key", "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")

In [4]:
sc.version
spark = SparkSession.builder.getOrCreate()

In [5]:
#spark.sparkContext.getConf().getAll()

In [6]:
df=spark.read.parquet("s3a://akdatalake/sor/customeractivity.parquet")

In [7]:
df.createOrReplaceTempView("customeractivity")

In [8]:
spark.sql("select * from customeractivity ").show(5)

+---+----------------------+----------------+------------------------+-------------------------+------------------------+------------------+------------------+--------------------+---------------------+
| ID|TotalDollarValueTraded|TotalUnitsTraded|LargestSingleTransaction|SmallestSingleTransaction|PercentChangeCalculation|DaysSinceLastLogin|DaysSinceLastTrade|NetRealizedGains_YTD|NetRealizedLosses_YTD|
+---+----------------------+----------------+------------------------+-------------------------+------------------------+------------------+------------------+--------------------+---------------------+
|  0|              59755.98|             206|                29877.99|       2987.7990000000004|                    51.5|                 3|                10|  2987.7990000000004|                  0.0|
|  1|              29782.98|              45|                14891.49|                 1489.149|                   11.25|                 3|                 9|            1489.149|                  0.0|
|  2|              24812.48|              22|                12406.24|                 1240.624|                     5.5|                 1|                 9|            1240.624|                  0.0|
|  3|              26132.61|              32|               13066.305|                1306.6305|                     8.0|                 3|                 5|                 0.0|            1306.6305|
|  4|                5030.5|              23|                1257.625|                 125.7625|                    3.45|                 2|                19|                 0.0|              251.525|
+---+----------------------+----------------+------------------------+-------------------------+------------------------+------------------+------------------+--------------------+---------------------+
only showing top 5 rows

In [9]:
df2=spark.read.parquet("s3a://akdatalake/sor/customerdemographic.parquet")
df2.createOrReplaceTempView("customerdemography")

In [10]:
spark.sql("select * from customerdemography").show(5)

+---+------+------+--------+---------+---------+---+
| ID|Gender|Status|Children|EstIncome|HomeOwner|Age|
+---+------+------+--------+---------+---------+---+
|  0|     F|     S|       1|  38000.0|        N| 24|
|  1|     M|     M|       2|  29616.0|        N| 49|
|  2|     M|     M|       0|  19732.8|        N| 51|
|  3|     M|     S|       2|    96.33|        N| 56|
|  4|     F|     M|       2|  52004.8|        N| 25|
+---+------+------+--------+---------+---------+---+
only showing top 5 rows

In [11]:
df3=spark.sql("select a.ID,Gender,Status,Children, Age,EstIncome ,TotalDollarValueTraded ,TotalUnitsTraded from customeractivity a ,customerdemography b where a.ID=b.ID").show(5)

+---+------+------+--------+---+---------+----------------------+----------------+
| ID|Gender|Status|Children|Age|EstIncome|TotalDollarValueTraded|TotalUnitsTraded|
+---+------+------+--------+---+---------+----------------------+----------------+
|  0|     F|     S|       1| 24|  38000.0|              59755.98|             206|
|  1|     M|     M|       2| 49|  29616.0|              29782.98|              45|
|  2|     M|     M|       0| 51|  19732.8|              24812.48|              22|
|  3|     M|     S|       2| 56|    96.33|              26132.61|              32|
|  4|     F|     M|       2| 25|  52004.8|                5030.5|              23|
+---+------+------+--------+---+---------+----------------------+----------------+
only showing top 5 rows

In [12]:
df3=spark.sql("select a.ID,Gender,Status,Children, Age,EstIncome ,TotalDollarValueTraded ,TotalUnitsTraded from customeractivity a ,customerdemography b where a.ID=b.ID")

In [ ]:
# you can also save the file as well
# note: make sure the file does not exist first
df3.write.parquet("s3a://akdatalake/queryzone/customer-hunglb.parquet")

In [ ]:
# read the file again
spark.read.parquet("s3a://akdatalake/queryzone/customer-hunglb.parquet").show()